// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["content"],
    "titleI18n": "background_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --content-background-color: $grey-4;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-font-size",
      "--menu-sub-active-font-size"
    ]
  */
  --menu-sub-font-size: 14px;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-font-weight",
      "--menu-sub-active-font-weight"
    ]
  */
  --menu-sub-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-font-weight"
        ]
      */
      --menu-sub-hover-font-weight: 400;


      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --menu-sub-active-font-weight: 400;


  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-font-style",
      "--menu-sub-active-font-style"
    ]
  */
  --menu-sub-font-style: normal;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-font-style"
        ]
      */
      --menu-sub-hover-font-style: normal;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --menu-sub-active-font-style: normal;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-text-decoration",
      "--menu-sub-active-text-decoration"
    ]
  */
  --menu-sub-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-text-decoration"
        ]
      */
      --menu-sub-hover-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --menu-sub-active-text-decoration: none;


  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-text-transform",
      "--menu-sub-active-text-transform"
    ]
  */
  --menu-sub-text-transform: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-text-transform"
        ]
      */
      --menu-sub-hover-text-transform: none;

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --menu-sub-active-text-transform: none;

  /* VoogStyle
    "pathI18n": ["content", "sub_menu", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global",
    "boundVariables": [
      "--menu-sub-hover-color",
      "--menu-sub-active-color"
    ]
  */
  --menu-sub-color: rgba($secondary-color, 1);

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "hover"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global",
        "boundVariables": [
          "--menu-sub-active-color"
        ]
      */
      --menu-sub-hover-color: rgba($secondary-color, 1);

      /* VoogStyle
        "pathI18n": ["content", "sub_menu", "active"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --menu-sub-active-color: rgba($secondary-color, 1);

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "featured": true,
    "scope": "global"
  */
  --content-body-font-size: $font-size-large;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "line_height",
    "editor": "rangePicker",
    "min": 1,
    "max": 5,
    "step": 0.1,
    "unit": "",
    "scope": "global"
  */
  --content-body-line-height: 1.4;

  /* VoogStyle
    "pathI18n": ["content", "text"],
    "titleI18n": "color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --content-body-text-color: rgba($primary-color, 1);

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_size",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-font-weight"
    ]
  */
  --content-link-font-weight: 400;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "font_size",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "600",
          "off": "400"
        },
        "icon": "bold",
        "scope": "global"
      */
      --content-link-hover-font-weight: 400;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-font-style"
    ]
  */
  --content-link-font-style: normal;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "font_style",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "italic",
          "off": "normal"
        },
        "icon": "italic",
        "scope": "global"
      */
      --content-link-hover-font-style: normal;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-text-decoration"
    ]
  */
  --content-link-text-decoration: none;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "text_decoration",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "underline",
          "off": "none"
        },
        "icon": "underline",
        "scope": "global"
      */
      --content-link-hover-text-decoration: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--content-link-hover-text-transform"
    ]
  */
  --content-link-text-transform: none;

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "text_transform",
        "type": "button",
        "editor": "toggleIcon",
        "states": {
          "on": "uppercase",
          "off": "none"
        },
        "icon": "uppercase",
        "scope": "global"
      */
      --content-link-hover-text-transform: none;

  /* VoogStyle
    "pathI18n": ["content", "link", "normal"],
    "titleI18n": "color",
    "type": "button",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --content-link-color: rgba($blue-1, 1);

      /* VoogStyle
        "pathI18n": ["content", "link", "hover"],
        "titleI18n": "color",
        "type": "button",
        "editor": "colorPicker",
        "scope": "global"
      */
      --content-link-hover-color: rgba($blue-1, .8);

  // scss-lint:enable Comment, Indentation
}
