// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
    "pathI18n": ["custom_styles.form"],
    "titleI18n": "custom_styles.field_border",
    "editor": "listPicker",
    "list": {{ base_toggle }},
    "featured": true,
    "scope": "global"
  */
  --global-form-field-border-width: 0px;

  /* VoogStyle
    "pathI18n": ["custom_styles.form"],
    "titleI18n": "custom_styles.field_size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  --global-form-field-font-size: 14px;

  /* VoogStyle
    "pathI18n": ["custom_styles.form"],
    "titleI18n": "custom_styles.field_color",
    "editor": "colorPicker",
    "scope": "global",
    "featured": true
  */
  --global-form-field-color: rgba($secondary-color, 1);

  /* VoogStyle
    "pathI18n": ["custom_styles.form"],
    "titleI18n": "custom_styles.button_padding",
    "editor": "rangePicker",
    "min": 0,
    "max": 50,
    "step": 1,
    "unit": "px",
    "scope": "global"
  */
  --global-form-button-padding: 11px;

  /* VoogStyle
    "pathI18n": ["custom_styles.form"],
    "titleI18n": "custom_styles.button_color",
    "editor": "colorPicker",
    "featured": true,
    "scope": "global"
  */
  --global-form-button-color: rgba($color-white, 1);

  /* VoogStyle
    "pathI18n": ["custom_styles.form"],
    "titleI18n": "custom_styles.button_bg_color",
    "editor": "colorPicker",
    "scope": "global"
  */
  --global-form-button-background-color: rgba($blue-1, 1);

  // scss-lint:enable Comment, Indentation
}
