// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/mixins';
@import '../../stylesheets/modules/variables';

// =============================================================================
// DEFAULT STYLESHEET OVERRIDE STYLES
// =============================================================================
body {
  font-family: var(--global-main-font-family);
  color: var(--global-content-body-text-color);
}

// =============================================================================
// NAVIGATION MENUS
// =============================================================================
@include querymin($tablet-2) {
  .menu-front {
    .menu-link {
      .dark-background & {
        &,
        &.active {
          color: var(--global-main-color-front);
        }

        &.active {
          border-color: var(--global-main-color-front);
        }

        &:hover {
          border-color: var(--global-main-color-front);
          background: var(--global-main-color-front);
          color: var(--global-secondary-color-front);
        }
      }

      .light-background & {
        &,
        &.active {
          color: var(--global-secondary-color-front);
        }

        &.active {
          border-color: var(--global-secondary-color-front);
        }

        &:hover {
          border-color: var(--global-secondary-color-front);
          background: var(--global-secondary-color-front);
          color: var(--global-main-color-front);
        }
      }
    }
  }
}

// =============================================================================
// SITE HEADER
// =============================================================================
.header-title {
  &, & .header-link {
    font-size: var(--global-header-body-font-size);
    font-style: var(--global-header-body-font-style);
    font-weight: var(--global-header-body-font-weight);
    color: var(--global-header-body-text-color);
    text-decoration: var(--global-header-body-text-decoration);
    text-transform: var(--global-header-body-text-transform);
  }

  .header-link {
    &:hover {
      color: var(--global-header-body-text-color);
    }
  }
}

// =============================================================================
// CONTENT
// =============================================================================
.content-topbar,
.content,
.content.two-columns {
  background-color: var(--global-content-background-color);
}

// =============================================================================
// SITE'S MAIN MENU
// =============================================================================
.menu-main {
  .menu-link {
    font-size: var(--global-menu-main-font-size);
    font-style: var(--global-menu-main-font-style);
    font-weight: var(--global-menu-main-font-weight);
    color: var(--global-menu-main-color);
    text-decoration: var(--global-menu-main-text-decoration);
    text-transform: var(--global-menu-main-text-transform);

    &.active {
      font-style: var(--global-menu-main-active-font-style);
      font-weight: var(--global-menu-main-active-font-weight);
      color: var(--global-menu-main-active-color);
      text-decoration: var(--global-menu-main-active-text-decoration);
      text-transform: var(--global-menu-main-active-text-transform);
    }

    &:hover {
      font-style: var(--global-menu-main-hover-font-style);
      font-weight: var(--global-menu-main-hover-font-weight);
      color: var(--global-menu-main-hover-color);
      text-decoration: var(--global-menu-main-hover-text-decoration);
      text-transform: var(--global-menu-main-hover-text-transform);
    }
  }
}

// =============================================================================
// SITE'S SUB MENU
// =============================================================================
.menu-sub {
  .menu-link {
    font-size: var(--global-menu-sub-font-size);
    font-style: var(--global-menu-sub-font-style);
    font-weight: var(--global-menu-sub-font-weight);
    color: var(--global-menu-sub-color);
    text-decoration: var(--global-menu-sub-text-decoration);
    text-transform: var(--global-menu-sub-text-transform);

    &.active {
      font-style: var(--global-menu-sub-active-font-style);
      font-weight: var(--global-menu-sub-active-font-weight);
      color: var(--global-menu-sub-active-color);
      text-decoration: var(--global-menu-sub-active-text-decoration);
      text-transform: var(--global-menu-sub-active-text-transform);
    }

    &:hover {
      font-style: var(--global-menu-sub-hover-font-style);
      font-weight: var(--global-menu-sub-hover-font-weight);
      color: var(--global-menu-sub-hover-color);
      text-decoration: var(--global-menu-sub-hover-text-decoration);
      text-transform: var(--global-menu-sub-hover-text-transform);
    }
  }
}

// =============================================================================
// BLOG LISTING AND ARTICLE
// =============================================================================
.post-page .post post-title,
.post .post-title a,
.blog-pate .post-date,
.post-page .post .post-header-inner,
.comments .comments-title {
  color: var(--global-secondary-color-content);
}

// =============================================================================
// TEXT TYPE CONTENT AREA
// =============================================================================
.content-formatted {
  .content & {
    font-size: var(--global-content-body-font-size);
    line-height: var(--global-content-body-line-height);
  }

  .footer & {
    font-size: var(--global-footer-body-font-size);
    font-style: var(--global-footer-body-font-style);
    font-weight: var(--global-footer-body-font-weight);
    color: var(--global-footer-body-color);
    text-decoration: var(--global-footer-body-text-decoration);
    text-transform: var(--global-footer-body-text-transform);
  }

  // Colors for editable content area elements with editable background.
  &, h1, h2, h3, h4, h5, h6, p, ul, ol, table {
    .light-background & {
      color: var(--global-secondary-color-front);
    }

    .dark-background & {
      color: var(--global-main-color-front);
    }
  }

  h1 {
    color: var(--global-headings-title-color);

    // scss-lint:disable NestingDepth
    // scss-lint:disable SelectorDepth
    &,
    a,
    a:hover {
      font-size: var(--global-headings-title-font-size);
      font-style: var(--global-headings-title-font-style);
      font-weight: var(--global-headings-title-font-weight);
      line-height: var(--global-headings-title-line-height);
      text-align: var(--global-headings-title-text-alignment);
      text-decoration: var(--global-headings-title-text-decoration);
      text-transform: var(--global-headings-title-text-transform);
    }
    // scss-lint:enable NestingDepth
    // scss-lint:enable SelectorDepth
  }

  h2:not(.comments-title) {
    color: var(--global-headings-heading-color);

    // scss-lint:disable NestingDepth
    // scss-lint:disable SelectorDepth
    &,
    a,
    a:hover {
      font-size: var(--global-headings-heading-font-size);
      font-style: var(--global-headings-heading-font-style);
      font-weight: var(--global-headings-heading-font-weight);
      line-height: var(--global-headings-heading-line-height);
      text-align: var(--global-headings-heading-text-alignment);
      text-decoration: var(--global-headings-heading-text-decoration);
      text-transform: var(--global-headings-heading-text-transform);
    }
    // scss-lint:enable NestingDepth
    // scss-lint:enable SelectorDepth
  }

  h3,
  h4,
  h5,
  h6 {
    color: var(--global-headings-subheading-color);

    // scss-lint:disable NestingDepth
    // scss-lint:disable SelectorDepth
    &,
    a,
    a:hover {
      font-size: var(--global-headings-subheading-font-size);
      font-style: var(--global-headings-subheading-font-style);
      font-weight: var(--global-headings-subheading-font-weight);
      line-height: var(--global-headings-subheading-line-height);
      text-align: var(--global-headings-subheading-text-alignment);
      text-decoration: var(--global-headings-subheading-text-decoration);
      text-transform: var(--global-headings-subheading-text-transform);
    }
    // scss-lint:enable NestingDepth
    // scss-lint:enable SelectorDepth
  }

  // Editable content area links.
  a {
    font-weight: var(--global-content-link-font-weight);
    font-style: var(--global-content-link-font-style);
    text-decoration: var(--global-content-link-text-decoration);
    text-transform: var(--global-content-link-text-transform);
    color: var(--global-content-link-color);

    &:hover {
      font-weight: var(--global-content-link-hover-font-weight);
      font-style: var(--global-content-link-hover-font-style);
      text-decoration: var(--global-content-link-hover-text-decoration);
      text-transform: var(--global-content-link-hover-text-transform);
      color: var(--global-content-link-hover-color);
    }
  }

  // Code blocks and preformatted content.
  pre,
  code {
    .front-page & {
      color: var(--global-secondary-color-front);
    }
  }

  table {
    th,
    td {
      padding: var(--table-padding);
      font-size: var(--table-font-size);
      border-top-style: var(--table-border-style);
      border-bottom-style: var(--table-border-style);
    }
  }

  .custom-btn {
    padding: calc(var(--global-content-button-padding) - 12px) var(--global-content-button-padding);
    font-size: var(--global-content-button-font-size);
    font-style: var(--global-content-button-font-style);
    font-weight: var(--global-content-button-font-weight);
    color: var(--global-content-button-color);
    text-decoration: var(--global-content-button-text-decoration);
    text-transform: var(--global-content-button-text-transform);
    background-color: var(--global-content-button-background-color);
    border-color: var(--global-content-button-color);

    &:hover {
      font-style: var(--global-content-button-hover-font-style);
      font-weight: var(--global-content-button-hover-font-weight);
      color: var(--global-content-button-hover-color);
      text-decoration: var(--global-content-button-hover-text-decoration);
      text-transform: var(--global-content-button-hover-text-transform);
      background-color: var(--global-content-button-hover-background-color);
      border-color: var(--global-content-button-hover-color);
    }

    .dark-background & {
      border-color: var(--global-main-color-front);
      color: var(--global-main-color-front);
    }

    .light-background & {
      border-color: var(--global-secondary-color-front);
      color: var(--global-secondary-color-front);
    }

    .front-page & {
      &:hover {
        .dark-background & {
          color: var(--global-secondary-color-front);
          border-color: var(--global-main-color-front);
          background-color: var(--global-main-color-front);
        }

        .light-background & {
          color: var(--global-main-color-front);
          border-color: var(--global-secondary-color-front);
          background-color: var(--global-secondary-color-front);
        }
      }
    }
  }
}

//==============================================================================
// "FORM" TYPE CONTENT AREA
//==============================================================================
.content-formatted {
  .form_field_textfield,
  .form_field_textarea,
  .form_field_select {
    font-size: var(--global-form-field-font-size);
    color: var(--global-form-field-color);
    border-color: var(--global-form-field-color);
    border-width: var(--global-form-field-border-width);

    .dark-background & {
      border-color: var(--global-main-color-front);
    }

    .light-background & {
      border-color: var(--global-secondary-color-front);
    }
  }

  .form_field,
  .edy-fe-label {
    color: var(--global-form-field-color);
  }

  .form_submit {
    input {
      padding: calc(var(--global-form-button-padding) - 3px) var(--global-form-button-padding);
      color: var(--global-form-button-color);
      background-color: var(--global-form-button-background-color);
    }
  }
}
