// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/mixins';
@import '../../stylesheets/modules/variables';

// =============================================================================
// DEFAULT STYLESHEET OVERRIDE STYLES
// =============================================================================

// =============================================================================
// NAVIGATION MENUS
// =============================================================================
@include querymin($tablet-2) {
  .menu-front {
    .menu-link {
      .dark-background & {
        color: var(--global-main-color-front);

        &.active {
          border-color: var(--global-main-color-front);
        }

        &:hover {
          border-color: var(--global-main-color-front);
          background: var(--global-main-color-front);
          color: var(--global-secondary-color-front);
        }
      }

      .light-background & {
        color: var(--global-secondary-color-front);

        &.active {
          border-color: var(--global-secondary-color-front);
        }

        &:hover {
          border-color: var(--global-secondary-color-front);
          background: var(--global-secondary-color-front);
          color: var(--global-main-color-front);
        }
      }
    }
  }
}

// =============================================================================
// SITE SEARCH
// =============================================================================

// =============================================================================
// SITE'S SUB MENU
// =============================================================================

// =============================================================================
// LANGUAGE MENU STYLES
// =============================================================================

// =============================================================================
// SITE FOOTER
// =============================================================================

// =============================================================================
// BLOG ARTICLE
// =============================================================================

// =============================================================================
// TEXT TYPE CONTENT AREA
// =============================================================================
.content-formatted {
  // Colors for editable content area elements with editable background.
  &, h1, h2, h3, h4, h5, h6, p, ul, ol, table {
    .light-background & {
      color: var(--global-secondary-color-front);
    }

    .dark-background & {
      color: var(--global-main-color-front);
    }
  }

  // Code blocks and preformatted content.
  pre,
  code {
    .front-page & {
      color: var(--global-secondary-color-front);
    }
  }

  .custom-btn {
    .dark-background & {
      border-color: var(--global-main-color-front);
      color: var(--global-main-color-front);
    }

    &,
    .light-background & {
      border-color: var(--global-secondary-color-front);
      color: var(--global-secondary-color-front);
    }

    &:hover {
      .dark-background & {
        color: var(--global-secondary-color-front);
        border-color: var(--global-main-color-front);
        background-color: var(--global-main-color-front);
      }

      &,
      .light-background & {
        color: var(--global-main-color-front);
        border-color: var(--global-secondary-color-front);
        background-color: var(--global-secondary-color-front);
      }
    }
  }
}

//==============================================================================
// "FORM" TYPE CONTENT AREA
//==============================================================================
