.item-page {
  .content-item-title:not(.product-item-title) {
    margin-bottom: 15px;
  }

  .product-price {
    padding-bottom: 24px;

    &-divider {
      margin: 0 4px;
    }
  }

  .content-product-description {
    margin-bottom: 12px;
  }

  .product-content {
    .product-image {
      .editmode & {
        cursor: pointer;
      }
    }
    
    .without-image .item-top {
      background-image: url("../assets/ico-placeholder.svg");
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #F2F2F2;
    }

    .item-top {
      .top-inner {
      background-color: transparent;

        .item-image {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .buy-btn-content {
      margin-bottom: 24px;
    }
  }

  .flex-col {
    width: 100%;

    .content-body {
      position: sticky;
      top: 104px;
      z-index: $zindex-ca-interaction-button + 1;
    }

    @media screen and (min-width: $mobile + 1) {
      &-left {
        max-width: 520px;
      }

      &.product-right-content {
        max-width: 50%;
      }
    }

    @media screen and (max-width: $mobile) {
      .content-illustrations {
        padding-bottom: 0;
      }
    }
  }
}

.product-page {
  .content-header {
    margin-bottom: 20px;
  }
}

.dark-background {
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-search-input {
    opacity: .7;
  }

  .edy-product-widget-filter-label {
    opacity: .5;
  }
}
