// =============================================================================
// NAVIGATION MENUS
// =============================================================================

// =============================================================================
// Mobile menu btn.
// =============================================================================
.menu-btn {
  @include reset-button;
  position: absolute;
  z-index: 80;
  top: -8px;
  right: -15px;
  width: 53px;
  height: 50px;
  padding: 15px;

  &.open,
  &:hover {
    .menu-stripe {
      background: rgba($secondary-color, .5);

      .dark-background & {
        background: rgba($color-white, .9);
      }

      .light-background & {
        background: rgba($color-black, .9);
      }
    }
  }

  @include querymin($tablet-2) {
    display: none;
  }
}

.menu-stripe {
  display: block;
  height: 4px;
  margin: 4px 0;
  background: rgba($secondary-color, .7);
  border-radius: 5px;

  &:first-child,
  &:last-child {
    margin: 0;
  }

  .dark-background & {
    background: $color-white;
  }

  .light-background & {
    background: $color-black;
  }

}

// =============================================================================
// General rules for all navigation menus.
// =============================================================================

.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  @at-root .menu-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;

    &.is-hidden {
      display: none !important;
    }
  }
}

// =============================================================================
// Styling rules for the site's main menu.
// =============================================================================

.menu-main {
  display: inline-block;
  vertical-align: middle;

  .header-right & {
    margin-top: -7px;
  }

  @include query($tablet-2) {
    display: none;
    line-height: 1.6;
  }

  &.expanded {
    position: absolute;
    top: 64px;
    right: 20px;
    z-index: 80;
    display: none;
    min-width: 350px;
    margin-bottom: 60px;
    text-align: left;
    background: $color-white;
    box-shadow: 0 5px 25px rgba($color-black, .3);

    @include query($tablet-2) {
      display: block;
    }

    @include query($mobile-1) {
      top: 0;
      left: 0;
      right: 0;
      margin-top: 50px;
      min-width: 0;
      margin-bottom: 40px;
    }
  }

  .menu-item {
    margin-left: 13px;

    &:first-child {
      margin-left: 0;
    }

    @include query($tablet-2) {
      display: block;
      margin: 0;
      font-size: 20px;
      border-bottom: 1px solid rgba($secondary-color, .2);
      background: $color-white;

      &.menu-item-search-inline,
      &.menu-item-lang-inline {
        display: none;
      }
    }
  }

  .menu-main-item {
    .menu-link {
      transition: $transition-std;
    }
  }

  .menu-link {
    @include hyphenate(true);
    color: rgba($secondary-color, 1);
    opacity: .7;
    font-weight: $font-weight-semibold;

    &.active {
      opacity: 1;
    }

    &.active:hover,
    &:hover {
      opacity: .5;
    }

    @include query($tablet-2) {
      display: block;
      padding: 5px 25px 3px;
      font-weight: $font-weight-normal;

      &.active:hover {
        font-weight: $font-weight-semibold;
      }

      &.active,
      &.active:hover,
      &:hover {
        color: $grey-1;
        background: $blue-2;
      }
    }
  }
}

@include querymin($tablet-2) {
  .front-page {
    .language-menu-mode-popover.language-flags-enabled & {
      .menu-lang-btn {
        display: inline-block;
        padding: 6px 12px;
        text-transform: uppercase;
        border: 2px solid transparent;
        font-weight: $font-weight-semibold;
        font-size: 12px;
        transition: background-color $transition-std;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

  .menu-front {
    .menu-item {
      font-size: $font-size-xs;
      line-height: normal;
      margin-left: 9px;
    }

    .menu-main-item {
      .menu-link {
        .dark-background & {
          color: $color-white;
        }

        &.active {
          .dark-background & {
            color: $color-white;
          }
        }
      }
    }

    .menu-link:not(.lang-flag) {
      display: inline-block;
      padding: 8px 12px;
      text-transform: uppercase;
      font-weight: $font-weight-normal;
      line-height: 1;
      border: 2px solid transparent;

      .dark-background & {
        &.active {
          border: 2px solid $color-white;
        }

        &:hover {
          border: 2px solid $color-white;
          background: $color-white;
          color: $color-black;
        }
      }

      .light-background & {
        color: $color-black;

        &.active {
          border: 2px solid $color-black;
        }

        &:hover {
          //border: 2px solid $color-black;
          background: $color-black;
          color: $color-white;
        }
      }
    }

    .menu-lang-btn {
      .language-flags-disabled & {
        padding: 6px 12px;
      }

      .dark-background & {
        .language-flags-disabled & {
          color: $color-white;
        }

        &:hover {
          .language-flags-disabled & {
            background: $color-white;
            color: $color-black;
          }
        }
      }

      .light-background & {
        .language-flags-disabled & {
          color: $color-black;
        }

        &:hover {
          .language-flags-disabled & {
            background: $color-black;
            color: $color-white;
          }
        }
      }
    }

    .menu-item-cms.right-mainmenu {
      margin-right: 20px;
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba($primary-color, .2);

  @include query($tablet-2) {
    margin: 0 20px;
  }

  .menu {
    text-align: center;
  }

  .menu-item {
    margin-right: 12px;
    line-height: 1.4;

    &:last-child {
      margin-right: 0;
    }
  }

  .menu-link {
    color: rgba($secondary-color, 1);
    opacity: .4;

    &.active,
    &:hover {
      opacity: 1;
    }
  }
}

// Styling rules for the site's language menu.
.menu-lang-btn {
  @extend %button;
  position: relative;
  top: -2px;
  right: -5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  font-family: inherit;
  font-size: 14px;
  transition: background-color $transition-std;

  .front-page .inline & {
    top: 0;
  }

  &:hover {
    opacity: .8;
  }

  &:before,
  &:after {
    top: 0;
    left: 0;
  }

  .language-menu-mode-list & {
    display: none;
  }

  .language-flags-enabled & {
    width: 30px;
    height: 27px;

    .lang-title {
      display: none;
    }
  }

  .ico-popover-toggle {
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 7.2px;
  }
}

.menu-lang-btn,
.menu-lang .lang-flag,
.menu-lang-mobile .lang-flag {

  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 21px;
    height: 15px;
  }

  &:before {
    background-color: $color-black;
    content: '';
  }

  &:after {
    opacity: 0.95;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-btn {

  &:before,
  &:after {
    top: 6px;
    left: 5px;

    .front-page & {
      top: 3px;
      left: 2px;
    }
  }
}

.menu-lang-popover {
  .language-menu-mode-popover & {
    display: none;
  }

  .language-menu-mode-list & {
    margin-top: -5px;
    margin-left: 15px;
  }

  &.expanded {
    .language-menu-mode-popover & {
      position: absolute;
      top: 34px;
      right: -12px;
      display: block;
      margin-bottom: 40px;
      padding: 6px 0;;
      background: #fff;
      box-shadow: 0 5px 25px rgba($color-black, .3);
      z-index: 80;
    }

    .language-menu-mode-popover.language-names-enabled.language-flags-disabled & {
      right: -5px;
    }

    .language-menu-mode-popover.language-names-enabled.language-flags-enabled & {
      min-width: 105px;
    }

    .language-flags-enabled.front-page & {
      .language-menu-mode-popover {
        top: 37px;
      }
    }

    .front-page & {
      .language-menu-mode-popover {
        top: 40px;
      }
    }

    .language-flags-disabled & {
      .language-menu-mode-popover {
        min-width: 123px;
      }
    }

    .no-menu .language-flags-disabled & {
      .language-menu-mode-popover {
        right: -5px;
      }
    }
  }
}

// Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
.menu-lang,
.menu-lang-mobile {

  .menu-link {
    color: rgba($color-black, 1);

    &.active,
    &.active:hover {
      opacity: .5;

      &::before,
      &::after {
        filter: grayscale(100%);
      }
    }

    &:hover {
      opacity: .75;
      filter: grayscale(50%);
    }
  }
}

.menu-lang {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  @include query($tablet-2) {
    display: none;
  }

  .editmode.language-flags-enabled.language-menu-mode-list & {
    margin-right: -10px;
  }

  .public.language-flags-enabled.language-menu-mode-list & {
    margin-right: -5px;
  }

  .menu-item {
    text-align: right;
    font-size: 12px;

    .language-menu-mode-popover & {
      display: list-item;
      margin-left: 0;
    }

    .language-menu-mode-list & {
      display: inline-block;
      // margin-left: -5px;
    }
  }

  .menu-link {
    position: relative;
    display: block;
    padding-top: 6px;
    padding-bottom: 5px;
    color: rgba($secondary-color, .7);

    .language-menu-mode-popover & {
      padding-right: 39px;
      padding-left: 12px;
    }

    .language-menu-mode-popover.language-flags-enabled.language-names-disabled & {
      padding-right: 31px;
    }

    .language-menu-mode-list.language-flags-enabled.language-names-enabled & {
      padding-right: 31px;
      padding-left: 5px;
    }

    .language-menu-mode-list.language-flags-enabled.language-names-disabled & {
      padding-right: 15px;
      padding-left: 16px;
    }

    .language-menu-mode-list.language-flags-disabled.language-names-enabled & {
      padding-right: 5px;
      padding-left: 5px;
    }

    &:before,
    &:after {
      top: 50%;
      margin-top: -8px;

      .language-menu-mode-popover & {
        right: 11px;
      }

      .language-menu-mode-list & {
        right: 5px;
      }
    }

    .language-names-disabled & {
      padding-top: 12px;
      padding-bottom: 11px;
    }
  }
}

.menu-lang-mobile {
  display: none;
  padding-left: 0;

  @include query($tablet-2) {
    display: block;

    &.inline {
      display: none;
    }
  }

  .menu-item {
    position: relative;
    text-align: left;

    &:first-child {
      border-top: none;
    }
  }

  .menu-link {
    padding-right: 30px;
    font-weight: $font-weight-normal;
    font-size: 14px;

    .language-names-enabled.language-flags-enabled & {
      padding-left: 53px;
    }

    .language-names-enabled & {
      padding-top: 9px;
      padding-bottom: 9px;
    }

    .language-names-disabled & {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &:before,
    &:after {
      top: 12px;
      left: 25px;
    }

    &.active,
    &.active:hover,
    &:hover {
      background: none;
    }

    &.active,
    &.active:hover {
      color: rgba($grey-1, .7);
    }

    &:hover {
      color: rgba($grey-1, .4);
    }
  }
}

.lang-flag {

  &:after {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 9px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    background-position: 0 -75px;
    content: attr(data-lang-code);
    box-sizing: border-box;
  }

  &:before {
    content: "";
  }

  .language-menu-mode-popover.language-flags-disabled & {
    padding-right: 12px;

    @include query($tablet-2) {
      padding-left: 25px;
    }
  }

  .language-flags-disabled & {
    &:before,
    &:after {
      display: none;
    }
  }

  .language-names-disabled & {
    // scss-lint:disable ImportantRule
    font-size: 0 !important;
    // scss-lint:enable ImportantRule
  }
}

// Language flag icons positioning in the spritemap.
$flags:
  (sq, 0 0), // Albanian (Albania)
  (hy, -21px 0), // Armenian (Armenia)
  (bn, -42px 0), // Bengali (Bangladesh)
  (bg, -84px 0), // Bulgarian (Bulgaria)
  (zh, -105px 0), // Chinese (China)
  (hr, -126px 0), // Croatian (Croatia)
  (da, -147px 0), // Danish (Denmark)
  (cs, -168px 0), // Czech (Czech Republic)
  (et, -189px 0), // Estonian (Estonia)

  (fi, 0 -15px), // Finnish (Finland)
  (fr, -21px -15px), // French (France)
  (ka, -42px -15px), // Georgian (Georgia)
  (de, -63px -15px), // German (Germany)
  (el, -84px -15px), // Greek (Greece)
  (hu, -105px -15px), // Hungarian (Hungary)
  (is, -126px -15px), // Icelandic (Iceland)
  (hi, -147px -15px), // Hindi (India)
  (id, -168px -15px), // Indonesian (Indonesia)
  (fa, -189px -15px), // Iranian (Iran)

  (he, 0 -30px), // Hebrew (Israel)
  (it, -21px -30px), // Italian (Italy)
  (ja, -42px -30px), // Japanese (Japan)
  (ko, -63px -30px), // Korean (Korea, South)
  (lv, -84px -30px), // Latvian (Latvia)
  (lt, -105px -30px), // Lithuanian (Lithuania)
  (ms, -126px -30px), // Malaysian (Malaysia)
  (nl, -147px -30px), // Dutch (Netherlands)
  (no, -168px -30px), // Norwegian (Norway)
  (ur, -189px -30px), // Urdu (Pakistan)

  (fil, 0 -45px), // Filipino (Philippines)
  (pl, -21px -45px), // Polish (Poland)
  (ro, -42px -45px), // Romanian (Romania)
  (ru, -63px -45px), // Russian (Russia)
  (ar, -84px -45px), // Arabic (Saudi Arabia)
  (sk, -105px -45px), // Slovakian (Slovakia)
  (sl, -126px -45px), // Slovenian (Slovenia)
  (es, -147px -45px), // Spanish (Spain)
  (sv, -168px -45px), // Swedish (Sweden)
  (tr, -189px -45px), // Turkish (Turkey)

  (uk, 0 -60px), // Ukrainian (Ukraine)
  (en, -21px -60px), // American English (United States of America)
  (pt, -84px -60px), // Portuguese (Portuguese Republic)
  (sr, -126px -60px), // Serbian (Republic of Serbia)
  (bn, -147px -60px), // Dutch, French, German (Kingdom of Belgium)
  (th, -189px -60px), // Thai (Thailand)
  (en_US, -21px -60px), // American English (United States of America)
  (en_GB, -63px -60px), // British English (Great Britian)
  (en_AU, -168px -60px), // Australian English (Commonwealth of Australia)
  (en_CA, -105px -60px), // Canadian English (Canada)
  (fr_IC, -42px -60px), // French (Ivory Coast)
  (pt_BR, -63px 0), // Brazilian Portuguese (Brazil)
;

@each $flag, $pos in $flags {
  [data-lang-code^="#{$flag}"]:after {
    background-position: $pos;
    content: '';
  }
}
// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
.tags-title {
  display: inline-block;
  font-size: 14px;
  color: $secondary-color;
}

.tags-icon {
  position: absolute;
  top: 9px;
  line-height: 0;

  .no-svg & {
    width: 16px;
    height: 16px;
    background-position: center;
    background-image: url('../images/ico-tags.png');
  }
}

.tags {
  margin-top: 11px;

  .post-page & {
    position: relative;
  }
}

.menu-tags {

  .post-page & {
    margin-left: 25px;
  }

  .tags-left {
    position: absolute;
    width: 110px;
    margin-right: 24px;
    text-align: right;

    @include query($tablet-2) {
      width: 113px;
      margin-right: 0;
      text-align: left;
    }

    @include query($mobile-1) {
      position: static;
    }
  }

  .tags-right {
    margin-left: 142px;

    .menu {
      max-width: 740px;
      margin-top: 2px;
      text-align: left;
    }

    @include query($tablet-2) {
      margin-left: 120px;
    }

    @include query($mobile-1) {
      margin-left: 0;
    }
  }

  .menu {
    line-height: 1.3;
  }

  .menu-item,
  .menu-link, {
    color: $third-color;
  }

  .menu-link {

    &:hover {
      color: $secondary-color;
    }
  }
}
