
// Product list menu
.menu-horizontal {
  padding-left: 0 !important;

  .menu-separator {
    opacity: .36;
    font-size: 12px;
    vertical-align: middle;
  }

  &.menu-breadcrumbs {
    line-height: 16px;
    margin: 15px 0;

    .menu-item {
      padding-left: 0;

      a {
        opacity: .43;
        text-decoration: none;
        text-transform: none;
        font-weight: normal;
        font-style: normal;

        &:hover {
          opacity: 1;
        }
      }
    }

    .current {
      &.menu-item {
        a {
          opacity: 1;
        }
      }
    }
  }

  .menu-item {
    display: inline-block;
    font-size: 11px;
  }
}

.item-list-page {
  .menu-breadcrumbs {
    margin: 0;
  }
}

.menu-item-cms {
  margin-left: 10px;

  &.float-right {
    float: right;
  }
}
