// EDITMODE STYLESHEET
// Stylesheet for styling elements that are only used in editmode
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'modules/mixins';
@import 'modules/variables';

.dark-background {

  .edy-empty-bordered {
    border-color: $color-white;
    border-color: rgba($color-white, .63);

    .edy-empty-header {
      @include color($color-white, .63);
    }
  }

  .edy-content-element-hover {
    @include border(all, 1px, solid, $color-white, .2);
  }

  .edy-texteditor-active {
    outline: 1px solid rgba($color-white, .4);

    &:hover {
      outline: 1px solid rgba($color-white, .63);
    }
  }
}

// Minimum height of the text content areas.
.edy-texteditor-view {
  min-height: 36px;
}

// Two columns view custom content area (right)
.content-right {

  .edy-empty-bordered {
    padding: 251px 40px 252px;
  }

  .edy-texteditor-view {
    min-height: 525px;
  }
}

.voog-bg-picker-btn,
.voog-padding-switcher {
  z-index: 70!important;
}

.feature-section {

  .voog-bg-picker-btn,
  .voog-padding-switcher {
    visibility: hidden;
    opacity: 0;
    transition: $transition-std;

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }

  .voog-bg-picker-btn {
    top: 0;
    left: 0;
  }

  .voog-padding-switcher {
    top: 0;
    right: 0;
  }

  &:hover {

    .voog-bg-picker-btn,
    .voog-padding-switcher {
      visibility: visible;
      opacity: .3;
      transition: $transition-std;

      &:hover {
        opacity: 1;
        transition: $transition-std;
      }
    }
  }
}

// Button switch to toggle content area padding.
.voog-padding-switcher {
  @include reset-button;
  position: absolute;
  margin: 10px 10px 0 0;
  width: 45px;
  height: 45px;
  z-index: 9;
  background: #06b url("../assets/ico-toggle.svg") center center no-repeat;
  border-radius: 100%;
}

.front-page {
  margin-bottom: 40px;

  &.edy-bar-open {
    margin-bottom: 150px;

    @include query($tablet-5) {
      margin-bottom: 125px;
    }
  }

  @include query($tablet-2) {

    .main-feature {

      .voog-bg-picker-btn {
        top: 80px;
      }
    }
  }
}

.feature-section {
  transition: padding $transition-std;

  &.section-with-padding {
    transition: padding $transition-std;
  }

  &:not(.section-with-padding) {

    .edy-fef-bottom .edy-fef-add {
      margin-left: 0;
    }
  }
}

.option-btn {
  @include reset-button;
  font-family: inherit;
  font-size: inherit;
  color: $blue-1;

  &:hover {
    color: rgba($blue-1, .8);
  }

  .flags-disabled & {

    .disable-text {

      display: none;
    }
  }

  .flags-enabled & {

    .enable-text {

      display: none;
    }
  }

  .disable-text,
  .enable-text {

    &:first-letter {

      text-transform: capitalize;
    }
  }
}

.menu-lang {

  .edit-btn {
    display: block;

    .edy-menu-langadd {
      display: inline-block;
      padding: 0;
    }
  }
}

.menu-lang-popover {
  &.expanded {
    padding-bottom: 0;
  }
}

.tags {
  margin-top: 20px;
}

.blog-page {

  .edy-site-menu-add {
    margin-left: 10px;
  }

  @include query($tablet-2) {

    .edy-site-menu-add {
      margin-left: 0;
    }
  }

  .post {

    &:first-child,
    .editmode &:nth-child(2) {
      margin-top: 0;
    }
  }
}

// Top and bottom margin for the elements that doesn't have the default margin.
.editmode table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-main {

  .edit-btn {
    position: relative;
    display: inline-block;
    margin-left: 20px;

    @include query($tablet-2) {
      position: static;
      text-align: left;
      display: block;
      margin-left: 0;
      padding: 7px 25px 11px;
      line-height: 1;
      background: $color-white;
      border-bottom: 1px solid rgba($primary-color, .2);

      .edy-menu-menuadd {
        display: inline-block;

        &:hover {
          background: none;
        }
      }
    }
  }
}

.menu-lang {

  .edit-btn {
    padding: 5px 10px 4px 0;
    text-align: right;

    .edy-menu-langadd {
      margin: 7px 20px;

      @include query($tablet-2) {
        margin: 0;
      }
    }

    .front-page & {
      top: 3px;
      display: block;
    }
  }
}

.menu-sub {

  .edit-btn {
    display: inline-block;
    margin-left: 0;
  }
}

.menu {

  .menu-link.untranslated {
    color: rgba($red, .5)
  }
}
