// =============================================================================
// MAIN STYLSEHEET
//
// Uncomment the partials you want to use in your template and comment out those
// that you don't need.
// =============================================================================

// MODULES
@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'modules/mixins';
@import 'modules/mixins-flexbox';
@import 'modules/variables';

@import 'fonts';
@import 'general';
@import 'content-formatted';
@import 'buy-button';
@import 'menus';
@import 'header';
// @import 'topbar';
// @import 'sidebar';
@import 'content';
@import 'blog-and-article';
@import 'search';
@import 'forms';
@import 'comments';
@import 'footer';
@import 'site-signout';
@import 'product';
@import 'navigation-menus';

.svg-spritesheet {
  display: none;
}

.flexbox .page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (min-width: 641px) {
  .content-illustrations {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 520px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 641px) {
  .item-page .content-body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.intro-content {
  padding-bottom: 50px;
}

.content-item-boxes {
  font-size: 0;
  line-height: 1.3;
}
@media screen and (min-width: 241px) and (max-width: 640px) {
  .content-illustrations {
    padding-bottom: 40px;
  }

  .content-item-boxes {
    margin-right: -10px;
    margin-left: -10px;
  }
}
@media screen and (min-width: 641px) {
  .content-item-boxes {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media screen and (min-width: 641px) {
  .items-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
.loader::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.not-loaded .loader, .is-loaded .loader {
  margin-top: calc((20px / 2) * -1);
  margin-left: calc((20px / 2) * -1);
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-animation: rotation .7s infinite linear;
          animation: rotation .7s infinite linear;
}
.not-loaded .loader::before, .is-loaded .loader::before {
  border-top: 1px solid black;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 100%;
}
.not-loaded .loader {
  opacity: 1;
}
.is-loaded .loader {
  opacity: 0;
}
.with-error .loader {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  background-color: rgba(204, 0, 0, 0.7);
  opacity: 1;
}
.with-error .loader::before, .with-error .loader::after {
  position: absolute;
  top: 14px;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  content: '';
}
.with-error .loader::before {
  left: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.with-error .loader::after {
  right: 4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
