@mixin front-page-header {

/* VoogStyle
  "pathI18n": ["custom_styles.front_page", "custom_styles.header"],
  "titleI18n": "custom_styles.background_color",
  "editor": "colorPicker",
  "featured": true,
  "scope": "global"
*/
--global-fp-header-bg-color: transparent;

/* VoogStyle
  "pathI18n": ["custom_styles.front_page", "custom_styles.header"],
  "titleI18n": "custom_styles.alignment",
  "editor": "listPicker",
  "list": {{ alignment_horizontal }},
  "featured": true,
  "scope": "global"
*/
--global-fp-header-alignment: center;

/* VoogStyle
  "pathI18n": ["custom_styles.front_page", "custom_styles.header"],
  "titleI18n": "custom_styles.padding",
  "editor": "rangePicker",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "px",
  "scope": "global"
*/
--global-fp-header-padding: 20px;

}
