/* FONTS */
// Custom fonts declarations.

@font-face {
  font-family: Avenir;
  font-weight: normal;
  font-style: normal;
  src: url('/assets/278902_1_0.eot');
  src: url('/assets/278902_1_0.eot?#iefix') format("embedded-opentype"),
  	   url('/assets/278902_1_0.woff') format("woff"),
  	   url('/assets/278902_1_0.ttf') format("truetype");
}

@font-face {
  font-family: Avenir;
  font-weight: bold;
  font-style: normal;
  src: url('/assets/278902_0_0.eot');
  src: url('/assets/278902_0_0.eot?#iefix') format("embedded-opentype"),
       url('/assets/278902_0_0.woff') format("woff"),
       url('/assets/278902_0_0.ttf') format("truetype");
}

@font-face {
  font-family: Avenir;
  font-weight: 900;
  font-style: normal;
  src: url('/assets/278902_2_0.eot');
  src: url('/assets/278902_2_0.eot?#iefix') format("embedded-opentype"),
       url('/assets/278902_2_0.woff') format("woff"),
       url('/assets/278902_2_0.ttf') format("truetype");
}
