/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
html {
  font-size: $font-size-base;

  @include query($tablet-1) {
    font-size: $font-size-base - 2px;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-main;
  font-weight: $font-weight-normal;
  line-height: 1.4em;
  @include color($primary-color);
  @include rem-fallback(font-size, $font-size-large);

  &.search-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  @include query($tablet-3) {
    background-image: none !important;
  }
}

// Pseudo classes to declare commonly used styling rules for different elements.
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same look.
.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-image,
.background-color {
  @extend %stretch;

  .main-feature & {
    z-index: -1;
  }
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;

  .front-page & {
    @include flexbox;
    @include flex(1);
    @include flex-direction(column);
    @include justify-content(space-between);
    min-height: 100vh;
    max-width: $site-width-wide;
  }

  .no-flexbox .front-page & {
    display: table;
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

.wrap {
  position: relative;
  width: 100%;
}
