/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  display: none;

  @include query($tablet-3) {
    position: absolute;
    z-index: 10001;
    top: 7px;
    right: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open,
    &:hover {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }

  @include query($mobile-1) {
    right: 20px;
  }

  .menu-stripe {
    display: block;
    width: 23px;
    height: 4px;
    margin: 4px 0;
    @include bg($secondary-color, 0.67);
    border-radius: 5px;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }

  @include query($mobile-1) {
    right: 0;
  }
}

// General rules for all navigation menus.
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  .menu-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
  }
}

// Styling rules for the site's main menu.
.menu-main {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;

  @include query($tablet-3) {
    display: none;

    &.expanded {
      position: absolute;
      z-index: 10001;
      top: 60px;
      right: 20px;
      display: block;
      min-width: 350px;
      margin-bottom: 60px;
      text-align: left;
      @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
      @include bg($white);

      > .menu {
        @include border(top, 1px, solid, $primary-color, 0.2);
      }
    }
  }

  @include query($mobile-1) {
    &.expanded {
      top: -3px;
      left: 0;
      right: 0;
      margin-top: 50px;
      min-width: 0;
      margin-bottom: 40px;

    }
  }

  .menu {
    line-height: 1.3em;

    .menu-item {
      margin-left: 13px;

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        @include hyphenate(true);
        font-weight: 600;
        @include color($secondary-color, 0.67);


        &.untranslated {
          @include color($red, 0.5);
        }

        &.active,
        &.active:hover {
          @include color($grey-1, 0.67);
        }

        &:hover {
          @include color($grey-1, 0.4);
        }
      }

      @include query($tablet-3) {
        display: block;
        margin: 0;
        font-size: 20px;
        @include border(bottom, 1px, solid, $secondary-color, 0.2);
        @include bg($white);

        &:first-child {
          .menu-link {
            font-weight: 600;
          }
        }

        .menu-link {
          display: block;
          padding: 5px 25px 3px;
          font-weight: 400;

          &.active,
          &.active:hover {
            @include color($grey-1);
            @include bg($blue-2);
          }

          &:hover {
            @include color($grey-1);
            @include bg($blue-2, 0.5);
          }
        }
      }
    }

    .edit-btn {
      position: relative;
      top: -2px;
      display: inline-block;
      margin-left: 20px;

      @include query($tablet-3) {
        position: static;
        display: block;
        margin-left: 0;
        padding: 1px 25px 6px;
        @include bg($white);
        @include border(bottom,1px,solid,$primary-color, 0.2);

        .edy-menu-menuadd {
          display: inline-block;

          &:hover {
            background: none;
          }
        }
      }
    }
  }

  // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
  .menu-lang {
    display: none;

    @include query($tablet-3) {
      display: block;
      padding-left: 0;

      .menu {
        .menu-item {
          text-align: left;

          &:first-child {
            border-top: none;
          }

          .menu-link {
            padding: 5px 30px 3px 53px;
            font-weight: 400;
            font-size: 14px;

            &:before,
            &:after {
              top: 12px;
              left: 25px;
            }

            &.active,
            &.active:hover,
            &:hover {
              background: none;
            }

            &.active,
            &.active:hover {
              @include color($grey-1, 0.67);
            }

            &:hover {
              @include color($grey-1, 0.4);
            }
          }
        }

        .edit-btn {
          display: block;
          text-align: left;

          .edy-menu-langadd {
            display: inline-block;
            padding: 0;
          }
        }
      }
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  @include border(bottom,1px,solid,$primary-color, 0.2);

  @include query($tablet-2) {
    margin: 0 20px;
  }

  .menu {
    text-align: center;

    .menu-item {
      margin-right: 12px;
      line-height: 1.4em;

      &.edit-btn {
        display: inline-block;
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .menu-link {
        @include color($third-color);

        &.untranslated {
          @include color($red, 0.5);
        }

        &.active,
        &:hover {
          @include color($secondary-color);
        }
      }
    }

    .edit-btn {
      display: inline-block;
    }
  }
}

// Styling rules for the site's language menu.
.menu-lang-btn {
  @extend %button;
  position: relative;
  top: -2px;
  right: -5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  font-family: inherit;
  font-size: 14px;

  &:hover {
    opacity: 0.8;
  }

  &:before,
  &:after {
    top: 0;
    left: 0;
  }

  .flags-enabled & {
    width: 30px;
    height: 25px;

    .lang-title {
      display: none;
    }
  }

  .ico-popover-toggle {
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 7.2px;
  }
}

.menu-lang-btn,
.menu-lang .menu-item .lang-flag {
  &:before,
  &:after {
    position: absolute;
    display: block;
    width: 21px;
    height: 15px;
    content: '';
  }

  &:before {
    @include bg($black);
  }

  &:after {
    opacity: 0.95;
    background-repeat: no-repeat;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.menu-lang-btn {
  &:before,
  &:after {
    top: 6px;
    left: 5px;
  }
}

.menu-lang-popover {
  display: none;

  &.expanded {
    position: absolute;
    top: 23px;
    right: -12px;
    display: block;
    margin-bottom: 40px;
    padding: 6px 0;
    min-width: 131px;
    background: #fff;
    @include box-shadow(0, 5px, 25px, rgba($black, 0.3));
    z-index: 10001;

    .editmode & {
      padding-bottom: 0;
    }

    .flags-disabled & {
      min-width: 123px;
    }
  }
}

.menu-lang {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  @include query($tablet-3) {
    display: none;
  }

  .menu-item {
    display: list-item;
    text-align: right;
    font-size: 12px;

    .menu-link {
      position: relative;
      display: block;
      padding: 6px 39px 5px 12px;
      @include color($secondary-color, 0.67);

      &.active,
      &.active:hover {
        @include opacity(0.5);
        @include filter(grayscale(100%));
      }

      &:hover {
        @include opacity(0.75);
        @include filter(grayscale(50%));
      }

      &:before,
      &:after {
        top: 4px;
        right: 11px;
      }
    }
  }

  .edit-btn {
    .edy-menu-langadd {
      margin: 7px 20px;

      @include query($tablet-3) {
        margin: 0;
      }
    }
  }

  &.flags-disabled  {
    .menu-link {
      padding-right: 12px;

      &:before,
      &:after {
        display: none;
      }

      @include query($tablet-2) {
        .menu-main.expanded & {
          padding: 5px 25px 3px;
        }
      }
    }
  }
}

.lang-flag {
  &:after {
    background-position: -189px -60px;
  }

  &:before,
  &:after {
    .flags-disabled & {
      display: none;
    }
  }
}

// Language flag icons positioning in the spritemap.
$flags:
// Albanian (Albania)
(sq, 0 0),
// Armenian (Armenia)
(hy, -21px 0),
// Bengali (Bangladesh)
(bn, -42px 0),
// Brazilian Portuguese (Brazil)
// (xx, -63px 0),
// Bulgarian (Bulgaria)
(bg, -84px 0),
// Chinese (China)
(zh, -105px 0),
// Croatian (Croatia)
(hr, -126px 0),
// Danish (Denmark)
(da, -147px 0),
// Czech (Czech Republic)
(cs, -168px 0),
// Estonian (Estonia)
(et, -189px 0),

// Finnish (Finland)
(fi, 0 -15px),
// French (France)
(fr, -21px -15px),
// Georgian (Georgia)
(ka, -42px -15px),
// German (Germany)
(de, -63px -15px),
// Greek (Greece)
(el, -84px -15px),
// Hungarian (Hungary)
(hu, -105px -15px),
// Icelandic (Iceland)
(is, -126px -15px),
// Hindi (India)
(hi, -147px -15px),
// Indonesian (Indonesia)
(id, -168px -15px),
// Iranian (Iran)
(fa, -189px -15px),

// Hebrew (Israel)
(he, 0 -30px),
// Italian (Italy)
(it, -21px -30px),
// Japanese (Japan)
(ja, -42px -30px),
// Korean (Korea, South)
(ko, -63px -30px),
// Latvian (Latvia)
(lv, -84px -30px),
// Lithuanian (Lithuania)
(lt, -105px -30px),
// Malaysian (Malaysia)
(ms, -126px -30px),
// Dutch (Netherlands)
(nl, -147px -30px),
// Norwegian (Norway)
(no, -168px -30px),
// Urdu (Pakistan)
(ur, -189px -30px),

// Filipino (Philippines)
(fil, 0 -45px),
// Polish (Poland)
(pl, -21px -45px),
// Romanian (Romania)
(ro, -42px -45px),
// Russian (Russia)
(ru, -63px -45px),
// Arabic (Saudi Arabia)
(ar, -84px -45px),
// Slovakian (Slovakia)
(sk, -105px -45px),
// Slovenian (Slovenia)
(sl, -126px -45px),
// Spanish (Spain)
(es, -147px -45px),
// Swedish (Sweden)
(sv, -168px -45px),
// Turkish (Turkey)
(tr, -189px -45px),

// Ukrainian (Ukraine)
(uk, 0 -60px),
// American English (United States of America)
(en, -21px -60px),
// French (Ivory Coast)
// (xx, -42px -60px),
// British English (Great Britian)
(en-gb, -63px -60px),
// Portuguese (Portuguese Republic)
(pt, -84px -60px),
// Canadian English (Canada)
// (xx, -105px, -60px),
// Serbian (Republic of Serbia)
(sr, -126px, -60px),
// Dutch, French, German (Kingdom of Belgium)
// (xx, -147px, -60px),
// Australian English (Commonwealth of Australia)
// (xx, -168px, -60px),
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after { background-position: $pos; }
}

.lang-options {
  @include bg($primary-color, 0.09);

  .menu {
    .menu-item {
      margin-top: 8px;
      padding: 5px 10px;
      font-size: 13px;
      background-color: transparent;

      @include query($tablet-3) {
        margin-top: 0;
        padding: 4px 25px;
        font-size: 15px;
      }
    }
  }
}

.option-btn {
  @extend %button;
  font-family: inherit;
  font-size: inherit;
  @include color($blue-1);

  &:hover {
    @include color($blue-1, 0.8);
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
.tags {
  .editmode & {
    margin-top: 20px;
  }
}
.tags-title {
  display: inline-block;
  font-size: 14px;
  @include color($secondary-color);
}

.tags-icon {
  position: absolute;
  top: 9px;
  line-height: 0;

  .no-svg & {
    width: 16px;
    height: 16px;
    background-position: center;
    background-image: url('../images/ico-tags.png');
  }
}

.tags {
  margin-top: 11px;

  .post-page & {
    position: relative;
  }
}

.menu-tags {
  .post-page & {
    margin-left: 25px;
  }

  .tags-left {
    position: absolute;
    width: 110px;
    margin-right: 24px;
    text-align: right;

    @include query($tablet-2) {
      width: 113px;
      margin-right: 0;
      text-align: left;
    }

    @include query($mobile-1) {
      position: static;
    }
  }

  .tags-right {
    margin-left: 142px;

    .menu {
      max-width: 740px;
      margin-top: 2px;
      text-align: left;
    }

    @include query($tablet-2) {
      margin-left: 120px;
    }

    @include query($mobile-1) {
      margin-left: 0;
    }
  }

  .menu {
    line-height: 1.3em;

    .menu-item,
    .menu-link, {
      @include color($third-color);
    }
    .menu-link {
      &:hover {
        @include color($secondary-color);
      }
    }
  }
}
