.dark-background .edy-empty-bordered {
  border-color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.63);
}
.dark-background .edy-empty-bordered .edy-empty-header {
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.63);
}
.dark-background .edy-content-element-hover {
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-background .edy-texteditor-active {
  outline: 1px solid rgba(255, 255, 255, 0.4);
}
.dark-background .edy-texteditor-active:hover {
  outline: 1px solid rgba(255, 255, 255, 0.63);
}

.edy-texteditor-view {
  min-height: 36px;
}

.content-right .edy-empty-bordered {
  padding: 251px 40px 252px;
}
.content-right .edy-texteditor-view {
  min-height: 525px;
}
