.dark-background .edy-empty-bordered {
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.63);
}
.dark-background .edy-empty-bordered .edy-empty-header {
  color: #fff;
  color: rgba(255, 255, 255, 0.63);
}
.dark-background .edy-content-element-hover {
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-background .edy-texteditor-active {
  outline: 1px solid rgba(255, 255, 255, 0.4);
}
.dark-background .edy-texteditor-active:hover {
  outline: 1px solid rgba(255, 255, 255, 0.63);
}

.edy-texteditor-view {
  min-height: 36px;
}

.content-right .edy-empty-bordered {
  padding: 251px 40px 252px;
}
.content-right .edy-texteditor-view {
  min-height: 525px;
}

.voog-bg-picker-btn,
.voog-padding-switcher {
  z-index: 70 !important;
}

.feature-section .voog-bg-picker-btn,
.feature-section .voog-padding-switcher {
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
}
.feature-section .voog-bg-picker-btn.open,
.feature-section .voog-padding-switcher.open {
  visibility: visible;
  opacity: 1;
}
.feature-section .voog-bg-picker-btn {
  top: 0;
  left: 0;
}
.feature-section .voog-padding-switcher {
  top: 0;
  right: 0;
}
.feature-section:hover .voog-bg-picker-btn,
.feature-section:hover .voog-padding-switcher {
  visibility: visible;
  opacity: .3;
  transition: 500ms;
}
.feature-section:hover .voog-bg-picker-btn:hover,
.feature-section:hover .voog-padding-switcher:hover {
  opacity: 1;
  transition: 500ms;
}

.voog-padding-switcher {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  margin: 10px 10px 0 0;
  width: 45px;
  height: 45px;
  z-index: 9;
  background: #06b url("../assets/ico-toggle.svg") center center no-repeat;
  border-radius: 100%;
}
.voog-padding-switcher:focus {
  outline: none;
}
.voog-padding-switcher::-moz-focus-inner {
  padding: 0;
  border: none;
}

.front-page {
  margin-bottom: 40px;
}
.front-page.edy-bar-open {
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .front-page.edy-bar-open {
    margin-bottom: 125px;
  }
}
@media screen and (max-width: 960px) {
  .front-page .main-feature .voog-bg-picker-btn {
    top: 80px;
  }
}

.feature-section {
  transition: padding 500ms;
}
.feature-section.section-with-padding {
  transition: padding 500ms;
}
.feature-section:not(.section-with-padding) .edy-fef-bottom .edy-fef-add {
  margin-left: 0;
}

.option-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: #0066bb;
}
.option-btn:focus {
  outline: none;
}
.option-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}
.option-btn:hover {
  color: rgba(0, 102, 187, 0.8);
}
.flags-disabled .option-btn .disable-text {
  display: none;
}
.flags-enabled .option-btn .enable-text {
  display: none;
}
.option-btn .disable-text:first-letter,
.option-btn .enable-text:first-letter {
  text-transform: capitalize;
}

.menu-lang .edit-btn {
  display: block;
}
.menu-lang .edit-btn .edy-menu-langadd {
  display: inline-block;
  padding: 0;
}

.menu-lang-popover.expanded {
  padding-bottom: 0;
}

.tags {
  margin-top: 20px;
}

.blog-page .edy-site-menu-add {
  margin-left: 10px;
}
@media screen and (max-width: 960px) {
  .blog-page .edy-site-menu-add {
    margin-left: 0;
  }
}
.blog-page .post:first-child, .editmode .blog-page .post:nth-child(2) {
  margin-top: 0;
}

.editmode table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-main .edit-btn {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 960px) {
  .menu-main .edit-btn {
    position: static;
    text-align: left;
    display: block;
    margin-left: 0;
    padding: 1px 25px 6px;
    background: #fff;
    border-bottom: 1px solid rgba(105, 107, 108, 0.2);
  }
  .menu-main .edit-btn .edy-menu-menuadd {
    display: inline-block;
  }
  .menu-main .edit-btn .edy-menu-menuadd:hover {
    background: none;
  }
}

.menu-lang .edit-btn {
  padding: 5px 10px 4px 0;
  text-align: right;
}
.menu-lang .edit-btn .edy-menu-langadd {
  margin: 7px 20px;
}
@media screen and (max-width: 960px) {
  .menu-lang .edit-btn .edy-menu-langadd {
    margin: 0;
  }
}
.front-page .menu-lang .edit-btn {
  top: 3px;
  display: block;
}

.menu-sub .edit-btn {
  display: inline-block;
  margin-left: 0;
}

.menu .menu-link.untranslated {
  color: rgba(204, 0, 0, 0.5);
}
