/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Helvetica Neue", 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4em;
  color: #696b6c;
}
body.search-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 840px) {
  body {
    background-image: none !important;
  }
}

.content-formatted:after, .header:after, .content:after, .content.two-columns:after, .search:after,
.search-form:after {
  content: "";
  display: table;
  clear: both;
}

.background-image,
.background-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-lang-btn, .option-btn, .search-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-lang-btn:focus, .option-btn:focus, .search-btn:focus {
  outline: none;
}
.menu-lang-btn::-moz-focus-inner, .option-btn::-moz-focus-inner, .search-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}

.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}
.bgpicker-btn:focus {
  outline: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
}
.container a img {
  border: none;
}

.content-formatted {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.content-formatted h1:first-child,
.content-formatted h2:first-child,
.content-formatted h3:first-child,
.content-formatted h4:first-child,
.content-formatted h5:first-child,
.content-formatted h6:first-child,
.content-formatted p:first-child,
.content-formatted ul:first-child,
.content-formatted ol:first-child,
.content-formatted pre:first-child,
.content-formatted code:first-child,
.content-formatted .edy-positionable-container-center:first-child,
.content-formatted .edy-positionable-container-left-block:first-child,
.content-formatted .edy-positionable-container-right-block:first-child,
.content-formatted .edy-texteditor-container-wrapper-center:first-child,
.content-formatted .edy-texteditor-container-wrapper-left-block:first-child,
.content-formatted .edy-texteditor-container-wrapper-right-block:first-child {
  margin-top: 0;
}
.content-formatted h1:last-child,
.content-formatted h2:last-child,
.content-formatted h3:last-child,
.content-formatted h4:last-child,
.content-formatted h5:last-child,
.content-formatted h6:last-child,
.content-formatted p:last-child,
.content-formatted ul:last-child,
.content-formatted ol:last-child,
.content-formatted pre:last-child,
.content-formatted code:last-child,
.content-formatted .edy-positionable-container-center:last-child,
.content-formatted .edy-positionable-container-left-block:last-child,
.content-formatted .edy-positionable-container-right-block:last-child,
.content-formatted .edy-texteditor-container-wrapper-center:last-child,
.content-formatted .edy-texteditor-container-wrapper-left-block:last-child,
.content-formatted .edy-texteditor-container-wrapper-right-block:last-child {
  margin-bottom: 0;
}
.light-background .content-formatted, .light-background
.content-formatted h1, .light-background
.content-formatted h2, .light-background
.content-formatted h3, .light-background
.content-formatted h4, .light-background
.content-formatted h5, .light-background
.content-formatted h6, .light-background
.content-formatted p, .light-background
.content-formatted ul, .light-background
.content-formatted ol, .light-background
.content-formatted table {
  color: black;
}
.dark-background .content-formatted, .dark-background
.content-formatted h1, .dark-background
.content-formatted h2, .dark-background
.content-formatted h3, .dark-background
.content-formatted h4, .dark-background
.content-formatted h5, .dark-background
.content-formatted h6, .dark-background
.content-formatted p, .dark-background
.content-formatted ul, .dark-background
.content-formatted ol, .dark-background
.content-formatted table {
  color: white;
}
.content-formatted h1,
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  font-weight: 600;
}
.content-formatted h1 {
  text-align: center;
  font-size: 36px;
}
@media screen and (max-width: 480px) {
  .content-formatted h1 {
    font-size: 32px;
  }
}
.content-formatted h2 {
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .content-formatted h2 {
    font-size: 20px;
  }
}
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .content-formatted h3,
  .content-formatted h4,
  .content-formatted h5,
  .content-formatted h6 {
    font-size: 16px;
  }
}
.content-formatted a {
  color: #0066bb;
}
.content-formatted a:hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.8);
}
.content-formatted span[style*="font-size"] {
  line-height: 1.7em;
}
.content-formatted pre,
.content-formatted code,
.content-formatted iframe,
.content-formatted table,
.content-formatted form {
  word-break: normal;
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.content-formatted pre,
.content-formatted .edy-positionable-container-center,
.content-formatted .edy-positionable-container-left-block,
.content-formatted .edy-positionable-container-right-block,
.content-formatted .edy-texteditor-container-wrapper-center,
.content-formatted .edy-texteditor-container-wrapper-left-block,
.content-formatted .edy-texteditor-container-wrapper-right-block,
.content-formatted .embed-container,
.content-formatted .table-container, .editmode .content-formatted table {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-formatted pre,
.content-formatted code {
  font-size: 14px;
  background-color: #fafafa;
  line-height: 1.2;
}
.front-page .content-formatted pre, .front-page
.content-formatted code {
  color: black;
}
.content-formatted pre {
  overflow: auto;
  padding: 10px;
}
.content-formatted pre code {
  display: inline;
  padding: 0;
  white-space: pre;
  line-height: inherit;
  background-color: transparent;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
}
.content-formatted code {
  display: inline-block;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.content-formatted blockquote {
  margin: 20px 40px;
}
.content-formatted iframe {
  max-width: 100%;
  height: auto;
}
.content-formatted .edy-positionable-container-left,
.content-formatted .edy-positionable-container-right {
  width: 45%;
}
.content-formatted .edy-positionable-container-left,
.content-formatted .edy-texteditor-container-wrapper-left {
  margin-right: 20px;
}
.content-formatted .edy-positionable-container-right,
.content-formatted .edy-texteditor-container-wrapper-right {
  margin-left: 20px;
}
.content-formatted .edy-image-container-with-title:after {
  display: block;
  padding: 4px;
  font-size: 16px;
  line-height: 1.3em;
  content: attr(data-title);
}
.content-formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-formatted table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
}
.content-formatted table td {
  padding: 10px;
  border-top: 1px solid #9c9e9e;
  border-bottom: 1px solid #9c9e9e;
}

/* MENUS */
.menu-btn {
  display: none;
}
@media screen and (max-width: 840px) {
  .menu-btn {
    position: absolute;
    z-index: 10001;
    top: 7px;
    right: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu-btn.open .menu-stripe, .menu-btn:hover .menu-stripe {
    background-color: #1B2124;
    background-color: rgba(27, 33, 36, 0.47);
  }
  .menu-btn:focus {
    outline: none;
  }
  .menu-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
@media screen and (max-width: 480px) {
  .menu-btn {
    right: 20px;
  }
}
.menu-btn .menu-stripe {
  display: block;
  width: 23px;
  height: 4px;
  margin: 4px 0;
  background-color: #1B2124;
  background-color: rgba(27, 33, 36, 0.67);
  border-radius: 5px;
}
.menu-btn .menu-stripe:first-child, .menu-btn .menu-stripe:last-child {
  margin: 0;
}
@media screen and (max-width: 480px) {
  .menu-btn {
    right: 0;
  }
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.menu .menu-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.menu-main {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 840px) {
  .menu-main {
    display: none;
  }
  .menu-main.expanded {
    position: absolute;
    z-index: 10001;
    top: 60px;
    right: 20px;
    display: block;
    min-width: 350px;
    margin-bottom: 60px;
    text-align: left;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
    background-color: white;
  }
  .menu-main.expanded > .menu {
    border-top: 1px solid #696B6C;
    border-top: 1px solid rgba(105, 107, 108, 0.2);
  }
}
@media screen and (max-width: 480px) {
  .menu-main.expanded {
    top: -3px;
    left: 0;
    right: 0;
    margin-top: 50px;
    min-width: 0;
    margin-bottom: 40px;
  }
}
.menu-main .menu {
  line-height: 1.3em;
}
.menu-main .menu .menu-item {
  margin-left: 13px;
}
.menu-main .menu .menu-item:first-child {
  margin-left: 0;
}
.menu-main .menu .menu-item .menu-link {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: 600;
  color: #1B2124;
  color: rgba(27, 33, 36, 0.67);
}
.menu-main .menu .menu-item .menu-link.untranslated {
  color: #CC0000;
  color: rgba(204, 0, 0, 0.5);
}
.menu-main .menu .menu-item .menu-link.active, .menu-main .menu .menu-item .menu-link.active:hover {
  color: #838586;
  color: rgba(131, 133, 134, 0.67);
}
.menu-main .menu .menu-item .menu-link:hover {
  color: #838586;
  color: rgba(131, 133, 134, 0.4);
}
@media screen and (max-width: 840px) {
  .menu-main .menu .menu-item {
    display: block;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid #1B2124;
    border-bottom: 1px solid rgba(27, 33, 36, 0.2);
    background-color: white;
  }
  .menu-main .menu .menu-item:first-child .menu-link {
    font-weight: 600;
  }
  .menu-main .menu .menu-item .menu-link {
    display: block;
    padding: 5px 25px 3px;
    font-weight: 400;
  }
  .menu-main .menu .menu-item .menu-link.active, .menu-main .menu .menu-item .menu-link.active:hover {
    color: #838586;
    background-color: #c7e5ff;
  }
  .menu-main .menu .menu-item .menu-link:hover {
    color: #838586;
    background-color: #C7E5FF;
    background-color: rgba(199, 229, 255, 0.5);
  }
}
.menu-main .menu .edit-btn {
  position: relative;
  top: -2px;
  display: inline-block;
  margin-left: 20px;
}
@media screen and (max-width: 840px) {
  .menu-main .menu .edit-btn {
    position: static;
    display: block;
    margin-left: 0;
    padding: 1px 25px 6px;
    background-color: white;
    border-bottom: 1px solid #696B6C;
    border-bottom: 1px solid rgba(105, 107, 108, 0.2);
  }
  .menu-main .menu .edit-btn .edy-menu-menuadd {
    display: inline-block;
  }
  .menu-main .menu .edit-btn .edy-menu-menuadd:hover {
    background: none;
  }
}
.menu-main .menu-lang {
  display: none;
}
@media screen and (max-width: 840px) {
  .menu-main .menu-lang {
    display: block;
    padding-left: 0;
  }
  .menu-main .menu-lang .menu .menu-item {
    text-align: left;
  }
  .menu-main .menu-lang .menu .menu-item:first-child {
    border-top: none;
  }
  .menu-main .menu-lang .menu .menu-item .menu-link {
    padding: 5px 30px 3px 53px;
    font-weight: 400;
    font-size: 14px;
  }
  .menu-main .menu-lang .menu .menu-item .menu-link:before, .menu-main .menu-lang .menu .menu-item .menu-link:after {
    top: 12px;
    left: 25px;
  }
  .menu-main .menu-lang .menu .menu-item .menu-link.active, .menu-main .menu-lang .menu .menu-item .menu-link.active:hover, .menu-main .menu-lang .menu .menu-item .menu-link:hover {
    background: none;
  }
  .menu-main .menu-lang .menu .menu-item .menu-link.active, .menu-main .menu-lang .menu .menu-item .menu-link.active:hover {
    color: #838586;
    color: rgba(131, 133, 134, 0.67);
  }
  .menu-main .menu-lang .menu .menu-item .menu-link:hover {
    color: #838586;
    color: rgba(131, 133, 134, 0.4);
  }
  .menu-main .menu-lang .menu .edit-btn {
    display: block;
    text-align: left;
  }
  .menu-main .menu-lang .menu .edit-btn .edy-menu-langadd {
    display: inline-block;
    padding: 0;
  }
}

.menu-sub {
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #696B6C;
  border-bottom: 1px solid rgba(105, 107, 108, 0.2);
}
@media screen and (max-width: 960px) {
  .menu-sub {
    margin: 0 20px;
  }
}
.menu-sub .menu {
  text-align: center;
}
.menu-sub .menu .menu-item {
  margin-right: 12px;
  line-height: 1.4em;
}
.menu-sub .menu .menu-item.edit-btn {
  display: inline-block;
  margin-left: 0;
}
.menu-sub .menu .menu-item:last-child {
  margin-right: 0;
}
.menu-sub .menu .menu-item .menu-link {
  color: #9c9e9e;
}
.menu-sub .menu .menu-item .menu-link.untranslated {
  color: #CC0000;
  color: rgba(204, 0, 0, 0.5);
}
.menu-sub .menu .menu-item .menu-link.active, .menu-sub .menu .menu-item .menu-link:hover {
  color: #1b2124;
}
.menu-sub .menu .edit-btn {
  display: inline-block;
}

.menu-lang-btn {
  position: relative;
  top: -2px;
  right: -5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  font-family: inherit;
  font-size: 14px;
}
.menu-lang-btn:hover {
  opacity: 0.8;
}
.menu-lang-btn:before, .menu-lang-btn:after {
  top: 0;
  left: 0;
}
.flags-enabled .menu-lang-btn {
  width: 30px;
  height: 25px;
}
.flags-enabled .menu-lang-btn .lang-title {
  display: none;
}
.menu-lang-btn .ico-popover-toggle {
  position: relative;
  top: -2px;
  display: inline-block;
  font-size: 7.2px;
}

.menu-lang-btn:before, .menu-lang-btn:after,
.menu-lang .menu-item .lang-flag:before,
.menu-lang .menu-item .lang-flag:after {
  position: absolute;
  display: block;
  width: 21px;
  height: 15px;
  content: '';
}
.menu-lang-btn:before,
.menu-lang .menu-item .lang-flag:before {
  background-color: black;
}
.menu-lang-btn:after,
.menu-lang .menu-item .lang-flag:after {
  opacity: 0.95;
  background-repeat: no-repeat;
}
.no-svg .menu-lang-btn:after, .no-svg
.menu-lang .menu-item .lang-flag:after {
  background-image: url("../images/ico-flags.png");
}
.svg .menu-lang-btn:after, .svg
.menu-lang .menu-item .lang-flag:after {
  background-image: url("../assets/ico-flags.svg");
}

.menu-lang-btn:before, .menu-lang-btn:after {
  top: 6px;
  left: 5px;
}

.menu-lang-popover {
  display: none;
}
.menu-lang-popover.expanded {
  position: absolute;
  top: 23px;
  right: -12px;
  display: block;
  margin-bottom: 40px;
  padding: 6px 0;
  min-width: 131px;
  background: #fff;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3) ;
  z-index: 10001;
}
.editmode .menu-lang-popover.expanded {
  padding-bottom: 0;
}
.flags-disabled .menu-lang-popover.expanded {
  min-width: 123px;
}

.menu-lang {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
@media screen and (max-width: 840px) {
  .menu-lang {
    display: none;
  }
}
.menu-lang .menu-item {
  display: list-item;
  text-align: right;
  font-size: 12px;
}
.menu-lang .menu-item .menu-link {
  position: relative;
  display: block;
  padding: 6px 39px 5px 12px;
  color: #1B2124;
  color: rgba(27, 33, 36, 0.67);
}
.menu-lang .menu-item .menu-link.active, .menu-lang .menu-item .menu-link.active:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.menu-lang .menu-item .menu-link:hover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
.menu-lang .menu-item .menu-link:before, .menu-lang .menu-item .menu-link:after {
  top: 4px;
  right: 11px;
}
.menu-lang .edit-btn .edy-menu-langadd {
  margin: 7px 20px;
}
@media screen and (max-width: 840px) {
  .menu-lang .edit-btn .edy-menu-langadd {
    margin: 0;
  }
}
.menu-lang.flags-disabled .menu-link {
  padding-right: 12px;
}
.menu-lang.flags-disabled .menu-link:before, .menu-lang.flags-disabled .menu-link:after {
  display: none;
}
@media screen and (max-width: 960px) {
  .menu-main.expanded .menu-lang.flags-disabled .menu-link {
    padding: 5px 25px 3px;
  }
}

.lang-flag:after {
  background-position: -189px -60px;
}
.flags-disabled .lang-flag:before, .flags-disabled .lang-flag:after {
  display: none;
}

.lang-flag-sq:after {
  background-position: 0 0;
}

.lang-flag-hy:after {
  background-position: -21px 0;
}

.lang-flag-bn:after {
  background-position: -42px 0;
}

.lang-flag-bg:after {
  background-position: -84px 0;
}

.lang-flag-zh:after {
  background-position: -105px 0;
}

.lang-flag-hr:after {
  background-position: -126px 0;
}

.lang-flag-da:after {
  background-position: -147px 0;
}

.lang-flag-cs:after {
  background-position: -168px 0;
}

.lang-flag-et:after {
  background-position: -189px 0;
}

.lang-flag-fi:after {
  background-position: 0 -15px;
}

.lang-flag-fr:after {
  background-position: -21px -15px;
}

.lang-flag-ka:after {
  background-position: -42px -15px;
}

.lang-flag-de:after {
  background-position: -63px -15px;
}

.lang-flag-el:after {
  background-position: -84px -15px;
}

.lang-flag-hu:after {
  background-position: -105px -15px;
}

.lang-flag-is:after {
  background-position: -126px -15px;
}

.lang-flag-hi:after {
  background-position: -147px -15px;
}

.lang-flag-id:after {
  background-position: -168px -15px;
}

.lang-flag-fa:after {
  background-position: -189px -15px;
}

.lang-flag-he:after {
  background-position: 0 -30px;
}

.lang-flag-it:after {
  background-position: -21px -30px;
}

.lang-flag-ja:after {
  background-position: -42px -30px;
}

.lang-flag-ko:after {
  background-position: -63px -30px;
}

.lang-flag-lv:after {
  background-position: -84px -30px;
}

.lang-flag-lt:after {
  background-position: -105px -30px;
}

.lang-flag-ms:after {
  background-position: -126px -30px;
}

.lang-flag-nl:after {
  background-position: -147px -30px;
}

.lang-flag-no:after {
  background-position: -168px -30px;
}

.lang-flag-ur:after {
  background-position: -189px -30px;
}

.lang-flag-fil:after {
  background-position: 0 -45px;
}

.lang-flag-pl:after {
  background-position: -21px -45px;
}

.lang-flag-ro:after {
  background-position: -42px -45px;
}

.lang-flag-ru:after {
  background-position: -63px -45px;
}

.lang-flag-ar:after {
  background-position: -84px -45px;
}

.lang-flag-sk:after {
  background-position: -105px -45px;
}

.lang-flag-sl:after {
  background-position: -126px -45px;
}

.lang-flag-es:after {
  background-position: -147px -45px;
}

.lang-flag-sv:after {
  background-position: -168px -45px;
}

.lang-flag-tr:after {
  background-position: -189px -45px;
}

.lang-flag-uk:after {
  background-position: 0 -60px;
}

.lang-flag-en:after {
  background-position: -21px -60px;
}

.lang-flag-en-gb:after {
  background-position: -63px -60px;
}

.lang-flag-pt:after {
  background-position: -84px -60px;
}

.lang-flag-sr:after {
  background-position: -126px;
}

.lang-options {
  background-color: #696B6C;
  background-color: rgba(105, 107, 108, 0.09);
}
.lang-options .menu .menu-item {
  margin-top: 8px;
  padding: 5px 10px;
  font-size: 13px;
  background-color: transparent;
}
@media screen and (max-width: 840px) {
  .lang-options .menu .menu-item {
    margin-top: 0;
    padding: 4px 25px;
    font-size: 15px;
  }
}

.option-btn {
  font-family: inherit;
  font-size: inherit;
  color: #0066bb;
}
.option-btn:hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.8);
}
.flags-disabled .option-btn .disable-text {
  display: none;
}
.flags-enabled .option-btn .enable-text {
  display: none;
}
.option-btn .disable-text:first-letter,
.option-btn .enable-text:first-letter {
  text-transform: capitalize;
}

.editmode .tags {
  margin-top: 20px;
}

.tags-title {
  display: inline-block;
  font-size: 14px;
  color: #1b2124;
}

.tags-icon {
  position: absolute;
  top: 9px;
  line-height: 0;
}
.no-svg .tags-icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-image: url("../images/ico-tags.png");
}

.tags {
  margin-top: 11px;
}
.post-page .tags {
  position: relative;
}

.post-page .menu-tags {
  margin-left: 25px;
}
.menu-tags .tags-left {
  position: absolute;
  width: 110px;
  margin-right: 24px;
  text-align: right;
}
@media screen and (max-width: 960px) {
  .menu-tags .tags-left {
    width: 113px;
    margin-right: 0;
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .menu-tags .tags-left {
    position: static;
  }
}
.menu-tags .tags-right {
  margin-left: 142px;
}
.menu-tags .tags-right .menu {
  max-width: 740px;
  margin-top: 2px;
  text-align: left;
}
@media screen and (max-width: 960px) {
  .menu-tags .tags-right {
    margin-left: 120px;
  }
}
@media screen and (max-width: 480px) {
  .menu-tags .tags-right {
    margin-left: 0;
  }
}
.menu-tags .menu {
  line-height: 1.3em;
}
.menu-tags .menu .menu-item,
.menu-tags .menu .menu-link {
  color: #9c9e9e;
}
.menu-tags .menu .menu-link:hover {
  color: #1b2124;
}

/* HEADER */
.header {
  position: relative;
  padding-top: 23px;
  padding-bottom: 23px;
}
.flexbox .header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .header {
    position: static;
    padding: 15px;
  }
}
@media screen and (max-width: 960px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .header-left,
  .header-right {
    padding: 0;
  }
}

.header-left {
  position: relative;
  max-width: 100%;
  min-width: 1em;
}
.flexbox .header-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.no-flexbox .header-left {
  float: left;
}
@media screen and (max-width: 840px) {
  .no-flexbox .header-left {
    float: none;
  }
}
@media screen and (max-width: 840px) {
  .header-left {
    float: none;
    min-width: 0;
  }
}

.header-right {
  text-align: right;
  margin-left: 15px;
}
.no-flexbox .header-right {
  float: right;
}
@media screen and (max-width: 840px) {
  .header-right {
    margin: 0;
  }
}

.header-title {
  position: relative;
  z-index: 11;
  font-weight: 600;
  font-size: 24px;
}
@media screen and (max-width: 840px) {
  .header-title {
    margin-right: 40px;
  }
  .search-enabled .header-title {
    margin-right: 202px;
  }
}
@media screen and (max-width: 480px) {
  .search-enabled .header-title {
    margin-right: 65px;
  }
}
.header-title, .header-title a {
  color: #1b2124;
}
.header-title .header-link {
  display: inline-block;
}
.header-title .header-link:hover {
  color: #1B2124;
  color: rgba(27, 33, 36, 0.8);
}

/* CONTENT */
.content-topbar {
  min-height: 18px;
  background-color: #eeeeee;
}
.two-column-page .content-topbar {
  padding-bottom: 20px;
}
@media screen and (max-width: 760px) {
  .two-column-page .content-topbar {
    padding-bottom: 0;
  }
}

.content {
  display: block;
}
.content.two-columns {
  background-color: #eeeeee;
}
.content.two-columns .content-formatted h1 {
  text-align: left;
}
.content .content-inner {
  padding: 33px 50px 50px;
  background-color: #eeeeee;
}
@media screen and (max-width: 960px) {
  .content .content-inner {
    padding: 33px 20px 50px;
  }
}
.content .content-left,
.content .content-right {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.content .content-left iframe,
.content .content-right iframe {
  display: block;
  height: 525px;
}
.content .content-left {
  padding: 43px 50px;
}
.content .content-right iframe {
  display: block !important;
  width: 100% !important;
}
@media screen and (max-width: 760px) {
  .content .content-right iframe {
    max-height: 262px;
  }
}
@media screen and (max-width: 760px) {
  .content .content-left,
  .content .content-right {
    display: block;
    width: auto;
    float: none;
  }
  .content .content-left {
    padding: 33px 20px 0;
  }
  .content .content-right {
    padding: 33px 20px 50px;
  }
}
.front-page .content {
  position: relative;
  padding: 0;
  width: 100%;
  background-color: #eeeeee;
}
.front-page .content .background-image,
.front-page .content .background-color {
  z-index: 0;
}
.front-page .content .background-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.front-page .content .content-inner {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  padding: 0;
  height: 525px;
  background: none;
}
@media screen and (max-width: 480px) {
  .front-page .content .content-inner {
    height: 295px;
  }
}
.front-page .content .content-inner .content-body {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 40px;
}
@media screen and (max-width: 600px) {
  .front-page .content .content-inner .content-body {
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  .front-page .content .content-inner .content-body {
    padding: 78px 25px;
  }
}
.front-page .content .content-inner .content-body .edy-texteditor-view {
  min-height: 43px;
}
.front-page .content .content-inner .content-formatted {
  font-size: 36px;
  line-height: 1.16em;
}
.front-page .content .content-inner .content-formatted .fci-editor {
  min-height: 41px;
}
@media screen and (max-width: 480px) {
  .front-page .content .content-inner .content-formatted {
    font-size: 24px;
  }
}

/* BLOG & BLOG ARTICLE */
.post .post-link {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1em;
  color: white;
  background-color: #1B2124;
  background-color: rgba(27, 33, 36, 0.5);
}
.post .post-link:hover {
  background-color: #1B2124;
  background-color: rgba(27, 33, 36, 0.8);
}
.post .post-title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #1b2124;
}
.post .post-title a {
  color: #1b2124;
}
.post .post-title a:hover {
  color: #1B2124;
  color: rgba(27, 33, 36, 0.8);
}
.post .post-excerpt,
.post .post-body {
  line-height: 1.3em;
}
.post .post-excerpt {
  margin-top: 12px;
}

.blog-page .edy-site-menu-add {
  margin-left: 10px;
}
@media screen and (max-width: 960px) {
  .blog-page .edy-site-menu-add {
    margin-left: 0;
  }
}
.blog-page .post {
  margin-top: 45px;
}
.no-flexbox .blog-page .post {
  display: table;
}
.flexbox .blog-page .post {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.blog-page .post:first-child, .editmode .blog-page .post:nth-child(2) {
  margin-top: 0;
}
@media screen and (max-width: 480px) {
  .no-flexbox .blog-page .post, .flexbox .blog-page .post {
    display: block;
  }
}
.no-flexbox .blog-page .post-left, .no-flexbox
.blog-page .post-right {
  display: table-cell;
  vertical-align: top;
}
.blog-page .post-left {
  display: inline-block;
  min-width: 87px;
  margin-left: 5px;
  padding-right: 26px;
}
@media screen and (max-width: 960px) {
  .blog-page .post-left {
    width: 91px;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .blog-page .post-left {
    width: auto;
  }
}
.blog-page .post-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.blog-page .post-date {
  font-size: 14px;
  color: #1B2124;
  color: rgba(27, 33, 36, 0.5);
}

.post-page .post .post-header {
  text-align: center;
}
.post-page .post .post-header-inner {
  margin-top: 4px;
  color: #1b2124;
}
.post-page .post .post-title {
  font-size: 36px;
  line-height: 1em;
}
.post-page .post .post-title input {
  text-align: center;
}
.post-page .post .post-content {
  margin-top: 29px;
}
.post-page .post .post-body {
  margin-top: 28px;
}
.post-page .post .post-excerpt .fci-editor,
.post-page .post .post-body .fci-editor {
  min-height: 38px;
}

/* SEARCH */
.search {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  height: 30px;
  line-height: 1em;
  background-color: white;
}
@media screen and (max-width: 840px) {
  .search {
    position: absolute;
    margin-left: 0;
    top: 24px;
    right: 60px;
  }
}
@media screen and (max-width: 480px) {
  .search {
    position: static;
    display: none;
  }
  .search.active {
    top: 54px;
    left: 0;
    right: 0;
    display: block;
    height: 40px;
    margin-left: 0;
  }
}

.search-form {
  position: relative;
  z-index: 20;
  background-color: white;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.search-form.active {
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 480px) {
  .search-form {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
  }
  .search-form, .search-form.active {
    max-width: 100%;
    margin: 0 auto;
    border: none;
  }
}

.search-input:focus,
.search-submit:focus {
  outline: none;
}

.search-submit,
.search-btn {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.search-submit:hover,
.search-btn:hover {
  opacity: 0.6;
}
.no-svg .search-submit, .no-svg
.search-btn {
  background-image: url("../images/ico-search.png");
}

.search-input {
  vertical-align: middle;
  width: 140px;
  height: 30px;
  margin: 0;
  padding: 6px 30px 5px 7px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1em;
  color: #1B2124;
  color: rgba(27, 33, 36, 0.67);
  background-color: white;
  box-sizing: border-box;
  border: none;
}
.search-input::-ms-clear {
  display: none;
}
.search-input::-webkit-input-placeholder {
  padding: 3px 0 4px 0;
  line-height: 1em;
}
@media screen and (max-width: 480px) {
  .search-input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 0 42px 0 20px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 0 0 1px;
}
.search-btn svg {
  fill: rgba(27, 33, 36, 0.67);
}
.search-open-btn .search-btn svg, .search-close-btn .search-btn svg {
  width: 20px;
  height: 20px;
}
.search-submit .search-btn svg {
  width: 16px;
  height: 16px;
}

.search-submit {
  opacity: 0.33;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  filter: alpha(opacity=33);
}
@media screen and (max-width: 480px) {
  .search-submit {
    width: 45px;
    height: 40px;
  }
}

.search-open-btn,
.search-close-btn {
  display: none;
}
@media screen and (max-width: 480px) {
  .search-open-btn,
  .search-close-btn {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 40;
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .search-open-btn {
    display: block;
  }
  .search-open-btn.open {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .search-close-btn {
    display: none;
  }
  .search-close-btn.open {
    display: inline-block;
  }
}

.voog-search-modal {
  position: absolute;
  top: 50px;
  left: -200px;
  right: -58px;
  z-index: 999;
}
@media screen and (max-width: 1020px) {
  .voog-search-modal {
    left: -220px;
    right: -38px;
  }
}
@media screen and (max-width: 480px) {
  .voog-search-modal {
    top: 86px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }
}

.voog-search-modal-inner {
  display: none;
  max-height: 760px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5em;
  background-color: white;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) ;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) ;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) ;
  overflow-x: hidden;
  overflow-y: auto;
}
.voog-search-modal-inner.search-results-active {
  display: block;
}
.voog-search-modal-inner.no-content.search-results-active {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .voog-search-modal-inner {
    display: block;
    height: 100%;
    max-height: none;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .voog-search-modal-inner.no-content.search-results-active {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
  }
  .voog-search-modal-inner.no-content.search-results-active .voog-search-modal-results {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-height: 900px) {
  .voog-search-modal-inner {
    max-height: 660px;
  }
}
@media screen and (min-width: 480px) and (max-height: 800px) {
  .voog-search-modal-inner {
    max-height: 560px;
  }
}
@media screen and (min-width: 480px) and (max-height: 700px) {
  .voog-search-modal-inner {
    max-height: 460px;
  }
}
@media screen and (min-width: 480px) and (max-height: 600px) {
  .voog-search-modal-inner {
    max-height: 360px;
  }
}
@media screen and (min-width: 480px) and (max-height: 500px) {
  .voog-search-modal-inner {
    max-height: 260px;
  }
}
@media screen and (min-width: 480px) and (max-height: 400px) {
  .voog-search-modal-inner {
    max-height: 160px;
  }
}

.voog-search-modal-result {
  margin-top: 18px;
}
.voog-search-modal-result:first-child {
  margin-top: 0;
}
.voog-search-modal-result h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}
.voog-search-modal-result h3 a {
  text-decoration: none;
  font-weight: 600;
  color: #1b2124;
}
.voog-search-modal-result h3 a:hover {
  color: #1B2124;
  color: rgba(27, 33, 36, 0.8);
}
.voog-search-modal-result p {
  margin: 5px 0 0;
  font-size: 14px;
}
.voog-search-modal-result em {
  font-style: normal;
  background-color: #F9EC5A;
  background-color: rgba(249, 236, 90, 0.5);
  border-radius: 2px;
  padding: 0 0.2em;
}

/* FORMS */
.content-formatted form {
  max-width: 100%;
}
.footer .content-formatted .form_area, .footer
.content-formatted .form {
  text-align: left;
}
.content-formatted .form_field {
  margin-top: 20px;
}
.content-formatted .form_field:first-child {
  margin-top: 0;
}
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  font-size: 14px;
  color: #1b2124;
}
.content-formatted .form_field label {
  position: relative;
  display: inline;
  padding-left: 8px;
  font-weight: 400;
  line-height: 1.3em;
  cursor: pointer;
}
.content-formatted .form_field label:after {
  content: '\a';
  white-space: pre;
}
.content-formatted .form_field label:before {
  display: block;
}
.content-formatted .form_field .edy-fe-label,
.content-formatted .form_field .form_field_label {
  padding-left: 0;
  font-weight: 600;
}
.dark-background .content-formatted .form_field .edy-fe-label, .dark-background
.content-formatted .form_field .form_field_label {
  color: white;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_submit input {
  font-family: inherit;
  font-size: 14px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_submit input {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) ;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) ;
}
.light-background .content-formatted .form_field_textfield, .light-background
.content-formatted .form_field_textarea, .light-background
.content-formatted .form_field_select, .light-background
.content-formatted .form_submit input {
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2) ;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2) ;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select {
  width: 280px;
  margin: 0;
  padding: 8px 8px 5px;
  background-color: white;
  border: none;
  box-sizing: border-box;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_textfield,
  .content-formatted .form_field_textarea,
  .content-formatted .form_field_select {
    width: 100%;
  }
}
.content-formatted .form_field_textfield:focus,
.content-formatted .form_field_textarea:focus,
.content-formatted .form_field_select:focus {
  outline: none;
}
.light-background .content-formatted .form_field_textfield, .light-background
.content-formatted .form_field_textarea, .light-background
.content-formatted .form_field_select {
  background-color: #1b2124;
}
.footer .content-formatted .form_field_textfield, .footer
.content-formatted .form_field_textarea, .footer
.content-formatted .form_field_select {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
}
.content-formatted .form_field_select {
  padding: 7px 9px 6px 9px;
  text-indent: .01px;
  text-overflow: '';
  background-position: 97.5% 13px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.no-svg .content-formatted .form_field_select {
  background-image: url("../images/ico-arrow-down.png");
}
.svg .content-formatted .form_field_select {
  background-image: url("../images/ico-arrow-down.png");
}
.content-formatted .form_field_checkbox,
.content-formatted .form_field_radio {
  visibility: hidden;
  margin-bottom: 8px;
}
.content-formatted .form_field_checkbox + .form_control_indicator,
.content-formatted .form_field_radio + .form_control_indicator {
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1) ;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1) ;
}
.content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  position: absolute;
  top: -3px;
  left: 3px;
  display: block;
  width: 14px;
  height: 14px;
  content: '';
  background-size: cover;
}
.no-svg .content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  background-image: url("../images/ico-tick.png");
}
.svg .content-formatted .form_field_checkbox:checked + .form_control_indicator:before {
  background-image: url("../assets/ico-tick.svg");
}
.content-formatted .form_field_radio + .form_control_indicator, .content-formatted .form_field_radio + .form_control_indicator:before {
  border-radius: 100%;
}
.content-formatted .form_field_radio:checked + .form_control_indicator:before {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 9px;
  height: 9px;
  content: '';
  background-color: black;
}
.content-formatted .form_field_size_medium {
  width: 420px;
}
@media screen and (max-width: 420px) {
  .content-formatted .form_field_size_medium {
    width: 100%;
  }
}
.content-formatted .form_field_size_large {
  width: 580px;
}
.content-formatted .form_submit input {
  display: block;
  margin: 18px 0 0;
  padding: 8px 11px;
  font-size: 14px;
  color: white;
  line-height: 1em;
  background-color: #0066bb;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.content-formatted .form_submit input:hover {
  background-color: #0066bb;
  background-color: rgba(0, 102, 187, 0.8);
}
@media screen and (max-width: 420px) {
  .content-formatted .form_submit input {
    width: 100%;
  }
}
.content-formatted .form_field_required .form_field_label:after {
  content: '* \a';
}
.content-formatted .form_field_with_errors .form_field_textfield,
.content-formatted .form_field_with_errors .form_field_textarea {
  -webkit-box-shadow: 4px 4px 0 #cc0000 ;
  -moz-box-shadow: 4px 4px 0 #cc0000 ;
  box-shadow: 4px 4px 0 #cc0000 ;
}
.content-formatted .form_field_error {
  margin-top: 5px;
  margin-left: 1px;
  color: #cc0000;
}
.content-formatted .feedback-loading,
.content-formatted .feedback-error,
.content-formatted .form_error,
.content-formatted .feedback-success,
.content-formatted .form_notice {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 18px;
  color: white;
  line-height: 1em;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) ;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) ;
}
.content-formatted .feedback-error,
.content-formatted .form_error,
.content-formatted .feedback-success,
.content-formatted .form_notice {
  padding: 8px 12px;
  font-size: 14px;
}
.content-formatted .feedback-loading {
  width: 60px;
  text-align: center;
  font-size: 30px;
  background-color: #1B2124;
  background-color: rgba(27, 33, 36, 0.5);
}
.content-formatted .feedback-loading span {
  display: inline-block;
  vertical-align: middle;
  width: 7.5px;
  height: 7.5px;
  margin: 0 3px 5px 0;
  background: transparent;
  border-radius: 50%;
  -webkit-animation: feedback-loading 0.8s linear infinite;
  -moz-animation: feedback-loading 0.8s linear infinite;
  animation: feedback-loading 0.8s linear infinite;
}
.content-formatted .feedback-loading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.content-formatted .feedback-loading span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.content-formatted .feedback-loading span:last-child {
  margin-right: 0;
}
@-webkit-keyframes feedback-loading {
  0% {
    background: transparent;
  }
  50% {
    background: #FFFFFF;
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes feedback-loading {
  0% {
    background: transparent;
  }
  50% {
    background: #FFFFFF;
  }
  100% {
    background: transparent;
  }
}
@keyframes feedback-loading {
  0% {
    background: transparent;
  }
  50% {
    background: #FFFFFF;
  }
  100% {
    background: transparent;
  }
}
.content-formatted .feedback-error,
.content-formatted .form_error {
  background-color: #cc0000;
}
.content-formatted .feedback-success,
.content-formatted .form_notice {
  background-color: #60a740;
}
.content-formatted .close-btn {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin: 2px 0 5px 9px;
  padding: 0;
  border: 1px solid #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  cursor: pointer;
}
.content-formatted .close-btn:hover {
  opacity: .8;
}
.content-formatted .close-btn:focus {
  outline: none;
}
.no-svg .content-formatted .close-btn {
  background: url("../images/ico-close.png") center center no-repeat;
}
.svg .content-formatted .close-btn {
  background: url("../assets/ico-close.svg") center center no-repeat;
}

/* COMMENTS */
.comments {
  padding: 28px 50px;
}
@media screen and (max-width: 960px) {
  .comments {
    padding: 28px 20px;
  }
}
.comments .comments-title {
  margin-bottom: 22px;
  font-size: 24px;
  color: #1b2124;
}
.comments .comment {
  margin-bottom: 31px;
  padding-left: 24px;
  font-size: 18px;
  color: #696b6c;
  border-left: 5px solid #EEEEEE;
  border-left: 5px solid rgba(238, 238, 238, 0.4);
}
.comments .comment-form .form_field_textfield,
.comments .comment-form .form_field_textarea {
  background-color: #eeeeee;
}

/* FOOTER */
.footer {
  padding: 30px 20px;
  text-align: center;
  font-size: 14px;
  color: #1B2124;
  color: rgba(27, 33, 36, 0.75);
}
@media screen and (max-width: 600px) {
  .footer {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 20px 15px;
  }
}
.footer .voog-reference {
  margin-top: 15px;
}
.footer .voog-reference a {
  display: inline-block;
  padding: 7px 9px;
  font-size: 10px;
  line-height: 1em;
  color: #1B2124;
  color: rgba(27, 33, 36, 0.75);
  background-color: white;
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .voog-reference a:hover {
  color: #1B2124;
  color: rgba(27, 33, 36, 0.75);
  border: 1px solid #000000;
  border: 1px solid rgba(0, 0, 0, 0.75);
}
