/*
Error: Invalid CSS after "...t-size: 11px; c": expected "{", was "}"
        on line 45 of sources/stylesheets/_navigation-menus.scss
        from line 30 of sources/stylesheets/main.scss

40:   }
41: 
42:   .menu-item {
43:     display: inline-block;
44:     font-size: 11px; c
45:   }
46: }
47: 
48: .item-list-page {
49:   .menu-breadcrumbs {
50:     margin: 0;

Backtrace:
sources/stylesheets/_navigation-menus.scss:45
sources/stylesheets/main.scss:30
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:665:in `block'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:685:in `block_child'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:666:in `block'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:685:in `block_child'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:666:in `block'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:684:in `block_child'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/scss/parser.rb:41:in `parse'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/engine.rb:312:in `to_tree'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/stack.rb:88:in `block in with_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/stack.rb:88:in `with_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/tree/root_node.rb:20:in `render'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/engine.rb:281:in `render'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:400:in `run'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/bin/sass:23:in `load'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/bin/sass:23:in `<main>'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/sirjesiilik/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...t-size: 11px; c\": expected \"{\", was \"}\"\A         on line 45 of sources/stylesheets/_navigation-menus.scss\A         from line 30 of sources/stylesheets/main.scss\A \A 40:   }\A 41: \A 42:   .menu-item {\A 43:     display: inline-block;\A 44:     font-size: 11px; c\A 45:   }\A 46: }\A 47: \A 48: .item-list-page {\A 49:   .menu-breadcrumbs {\A 50:     margin: 0;"; }
